.other__list{
    list-style: none;
    padding: 0;
    margin-top: 0;
    margin-left: 30px;
    margin-right: 30px;
}

.other__item{
    margin-bottom: 15px;
}

.other__link{
    display: block;
    background-color: var(--dark-blue);
    text-align: center;
    text-decoration: none;
    color: var(--pale-beige);
    font-family: Ironick NF;
    font-size: var(--subheadings);
    font-weight: normal;
    line-height: 119%;
}