.timeline__list--big{
    list-style: none;
    margin: 0;
    margin-left: 25px;
    padding: 0;
}

.timeline__div--big{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 10px;
    z-index: 2;
}

.timeline__text--big{
    font-family: Ironick NF;
    font-size: var(--headings);
    font-weight: normal;
    line-height: 119%;
    color: var(--dark-blue);
    margin: 0;    
    width: 72px;
}

.timeline__dot{
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--dark-blue);
    margin-left: 15px;
}

.timeline__item--small{
    position: relative;
    z-index: 2;
}

.timeline__list--small{
    list-style: none;
    padding-left: 20px;
}

.timeline__item__div{
    display: flex;
    flex-direction: row;
    width: calc(70vw + 57px);
    margin-bottom: 20px;
}

.timeline__text--small{
    line-height: 75px;
    font-family: Ironick NF;
    font-size: 22px;
    font-weight: normal;
    color: var(--pale-beige);
    margin: 0;
    background-color: var(--dark-blue);
    text-align: center;
    vertical-align: super;
    padding: auto 0;
}

.timeline__img{
    height: 75px;
    display: block;
}

.timeline__text__container{
    display: block;
    justify-content: center;
    width: 70vw;   
}

.timeline__line{
    width: 1px;
    height: 1610px;
    background-color: var(--dark-blue);
    margin: 0;
    margin-left: 89px;
    position: absolute;
    top: 665px;
    z-index: 1;
}